{% extends 'main.html' %}

{% block content %}
<div class="home-container">
    <div class="home-header">
        <h2>Available Rooms</h2>
        {% if request.user.is_superuser %}
            <a href="{% url 'create-room' %}" class="btn btn-primary">Create Room</a>
        {% endif %}
    </div>
    <hr>
    <div class="room-list">
        {% for room in rooms %}
            <div class="room-item">
                <div>
                    <h5><a href="{% url 'room' room.room_id %}" class="room-name">{{room.room_name}}</a> ({{room.room_id}})</h5>
                    <p class="room-status">สถานะห้อง: {{ room.status|yesno:"เปิดให้บริการ,ปิดให้บริการ" }}</p>
                </div>
                <a href="{% url 'room' room.room_id %}" class="btn btn-secondary">View Details</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}